.project {
  &-nav {
    height: 36px;
    width: 24px;
    position: fixed;
    top: calc((100vh / 2) + 60px);
    z-index: 10;

    opacity: 1;
    transition: all 300ms ease-in-out;

    svg {
      height: inherit;
      width: inherit;
      opacity: 1;
    }

    &-right {
      right: 2em;

      &:hover {
        right: 0;
      }
    }

    &-left {
      left: 2em;

      &:hover {
        left: 0;
      }
    }

    &:hover svg {
      height: 0;
      width: 0;
      opacity: 0;
    }

    &:hover &-featured {
      height: 150px;
      width: 300px;

      opacity: 1;
      transition: all 500ms ease-in-out;
      transition-property: opacity, width;
    }

    &-right:hover &-featured {
      right: 277px;
    }

    &-featured {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      top: -75px;

      opacity: 0;

      img {
        filter: brightness(0.4);
      }

      span {
        position: absolute;
        top: 50%;

        color: $gray;
      }
    }
  }

  &-navmobile {
    &-button {
      height: 3em !important;

      font-weight: 800;
      text-transform: uppercase;
    }

    &:first-child svg {
      margin-right: 0.5em;
    }

    &:last-child svg {
      margin-left: 0.5em;
    }
  }

  &-detail {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

    @include desktop {
      text-align: center;
    }

    li {
      align-items: baseline;
      display: flex;
      margin-bottom: 0.5em;
      justify-content: space-between;

      line-height: 2em;

      @include desktop {
        align-items: center;
        flex-direction: column;

        line-height: initial;
      }

      strong {
        display: block;
      }
    }
  }
}

.blocks-gallery-grid,
.wp-block-gallery {
  .blocks-gallery-item {
    max-height: calc(100vh - 120px);

    figcaption {
      align-items: flex-end;
      bottom: 0;
      display: flex;
      left: 0;
      min-height: 50%;

      color: $gray;
      font-size: 0.8em;
      line-height: 150%;
      opacity: 0;
      padding: 2em;
      text-align: left;
      transition: all 300ms ease-in-out;

      @include mobile {
        display: block;
        overflow: scroll;

        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7) 100%,
          transparent
        );
        padding: 1em;
      }
    }

    &:hover {
      figcaption {
        opacity: 1;
        transition: all 300ms ease-in-out;
      }
    }
  }
}
