.carousel {
  &-item {
    align-items: flex-start;
    display: flex;

    margin-top: 8em;

    @include mobile {
      margin-top: 2em;
    }

    &-content {
      position: relative;
      width: 100%;

      background-color: $gray;
      cursor: pointer;
      font-size: 1rem;
      line-height: 2em;
      padding: 16px 8px;
      transition: all 300ms ease-in-out;

      &:hover {
        background-color: $primary;
        color: $gray;
        transition: all 300ms ease-in-out;

        &::after {
          left: 0;
          top: 0;

          transition: all 300ms ease-in-out;
        }
      }

      &::after {
        content: '';
        height: calc(4em + 32px);
        left: -10px;
        position: absolute;
        top: 10px;
        width: 100%;

        border: 2px solid rgba($primary, 0.2);
        transition: all 300ms ease-in-out;
      }
    }

    &-title {
      width: 100%;

      font-size: 1.25em;
      font-weight: 600;
    }
  }

  &-card {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    background: linear-gradient(180deg, #fafafa 18em, $gray 8em);
    transition: all 300ms ease-in-out;

    @include mobile {
      margin-left: 1em;
      margin-right: 1em;
      padding: 0;

      background: linear-gradient(180deg, #fafafa 10em, $gray 8em);
    }

    a {
      display: flex;
      flex-direction: column;

      color: $primary;
    }

    &:hover {
      background: linear-gradient(180deg, #fafafa 18em, $primary 8em);
      cursor: pointer;
      transition: all 300ms ease-in-out;

      @include mobile {
        background: linear-gradient(180deg, #fafafa 10em, $primary 8em);
      }

      > a {
        color: $gray;
      }

      &::after {
        left: 0;
        top: 18em;

        transition: all 300ms ease-in-out;

        @include mobile {
          top: 10em;
        }
      }
    }

    &::after {
      content: '';
      height: calc(100% - 18em);
      left: -18px;
      position: absolute;
      top: calc(18em + 18px);
      width: 100%;

      border: 2px solid rgba($primary, 0.2);
      transition: all 300ms ease-in-out;

      @include mobile {
        height: calc(100% - 10em);
        left: -10px;
        top: calc(10em + 10px);
      }
    }

    &-image {
      margin: 0 auto;
      width: 90%;
      z-index: 10;
    }

    &-content {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      width: 100%;

      font-size: 1em;
      line-height: 2em;
      padding: 2em;
      transition: all 300ms ease-in-out;

      @include mobile {
        padding: 1em 0;
      }

      &:hover {
        color: $gray;
      }
    }

    &-title {
      width: 100%;

      font-size: 1.75rem;
      font-weight: 600;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  &-item:last-child {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 0;

    .button {
      height: 3em;

      font-weight: 800;
      text-transform: uppercase;

      svg {
        margin-left: 0.5em;
      }
    }
  }
}
