@charset "utf-8";

@font-face {
  font-family: 'Apertura';
  src: url('../fonts/Apertura-Regular.ttf') format('truetype'),
    url('../fonts/Apertura-Black.otf') format('opentype'),
    url('../fonts/Apertura-Medium.otf') format('opentype'),
    url('../fonts/Apertura-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Apertura Black';
  src: url('../fonts/Apertura-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Apertura Medium';
  src: url('../fonts/Apertura-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Apertura Bold';
  src: url('../fonts/Apertura-Bold.otf') format('opentype');
}

$radius: 0px;
$primary: #323232;
$gray: #f2f2f2;

$input-background-color: $gray !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow-color: bulmaRgba($primary, 0.25) !default;

@import '../node_modules/bulma/bulma.sass';

#home {
  background-image: url('/images/bg-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include mobile {
    background-size: auto 100vh;
  }
}

@import './navbar.scss';

@import './section.scss';
@import './team.scss';
@import './service.scss';
@import './carousel.scss';
@import './form.scss';
@import './projects.scss';
@import './project.scss';
@import './blog.scss';

body {
  background-color: #fafafa;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

p {
  margin-bottom: 16px;
}

a {
  color: rgba($primary, 0.6);
}

main.container {
  margin-top: 1rem;
}

.is-flex.is-vcentered {
  align-items: center;
}

.input,
.textarea {
  padding: 1.5em 1em;
}

.textarea {
  resize: none;
}

.no-horizontal-padding > .column {
  padding-top: 0;
  padding-bottom: 0;
}

.section {
  padding: 6em 1.5em 3em 1.5em;

  @include mobile {
    padding-top: 4.5em;
  }
}

.fade-in {
  div,
  span,
  img,
  a,
  h4 {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
}

.fade-out {
  div,
  span,
  img,
  a,
  h4 {
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
}

.slide-out-left {
  div,
  span,
  img,
  a,
  h4 {
    display: block;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
  }
}

.slide-out-right {
  div,
  span,
  img,
  a,
  h4 {
    display: block;
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
  }
}

.slide-in {
  div,
  span,
  img,
  a,
  h4 {
    display: block;
    transform: translateX(0);
    transition: all 300ms ease-in-out;
  }
}

.scale-out {
  div,
  img,
  a {
    transform: scale(0.5);
    transition: all 300ms ease-in-out;
  }
}

.scale-in {
  img,
  a {
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }
}

.home-cta-title {
  font-family: 'Apertura';
  text-transform: lowercase;
}

.home-cta-tagline {
  font-family: 'Apertura';
  text-transform: lowercase;
}

.button-cta {
  height: 3em;
  font-weight: 800;
  text-transform: uppercase;

  svg {
    margin-left: 0.5em;
  }
}
