// 242 kb / 32.7 kb

@charset "utf-8";

@font-face {
  font-family: 'Apertura';
  font-display: swap;
  src: url('../../fonts/Apertura-Regular.ttf') format('truetype');
}

$radius: 0px;
$primary: #323232;
$gray: #f2f2f2;

$input-background-color: $gray !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow-color: bulmaRgba($primary, 0.25) !default;

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/content.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
@import '../node_modules/bulma/sass/elements/image.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/shared.sass';
@import '../node_modules/bulma/sass/form/input-textarea.sass';
@import '../node_modules/bulma/sass/form/select.sass';
@import '../node_modules/bulma/sass/form/tools.sass';
@import '../node_modules/bulma/sass/components/media.sass';
@import '../node_modules/bulma/sass/components/menu.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/grid/columns.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';

$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
  0 0px 0 1px rgba($scheme-invert, 0.02) !default;

@import './navbar.scss';

@import './section.scss';
@import './team.scss';
@import './service.scss';
@import './carousel.scss';
@import './form.scss';
@import './projects.scss';
@import './project.scss';
@import './blog.scss';

@import './base.scss';
@import './animations.scss';

#home {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include mobile {
    background-size: auto 100vh;
  }
}

.home-cta-title,
.home-cta-tagline {
  font-family: 'Apertura';
  text-transform: lowercase;
}

.button-cta {
  height: 3em;
  font-weight: 800;
  text-transform: uppercase;

  svg {
    margin-left: 0.5em;
  }
}
