.project {
  &-detail {
    display: flex;
    flex-wrap: wrap;

    @include desktop {
      justify-content: space-evenly;

      text-align: center;
    }

    li {
      margin-bottom: 0.5em;
      @include mobile {
        width: 100%;
      }

      strong {
        display: block;
      }
    }
  }
}

.blocks-gallery-grid,
.wp-block-gallery {
  .blocks-gallery-item {
    max-height: calc(100vh - 120px);

    figcaption {
      bottom: 2em;
      left: 25%;
      overflow: initial;
      max-width: 50%;

      background: none;
      background-color: $gray;
      color: $primary;
      font-size: 0.8em;
      line-height: 150%;
      opacity: 0;
      padding: 1em;
      text-align: left;
      transition: all 300ms ease-in-out;

      &::after {
        content: '';
        height: 100%;
        left: -8px;
        position: absolute;
        top: 8px;
        width: 100%;

        border: 2px solid rgba($primary, 0.2);
        transition: all 300ms ease-in-out;
      }
    }

    img {
      filter: none;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      figcaption {
        opacity: 1;
        transition: all 300ms ease-in-out;
      }

      img {
        filter: brightness(0.6);
        transition: all 300ms ease-in-out;
      }
    }
  }
}
